#ejemplo {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
border-left-color: #aa6708;
  color: #aa6708;
  }

#ejercicio {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
border-left-color: #aa6708;
  color: #aa6708;
  }

#importante {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 0px;
border-radius: 10px;
border-left-color: #ce4844;
  background-color: #ECA1A0;
  font-size: 110%;
}

#curiosidad {
padding: 20px;
margin: 20px 0;
border: 1px solid #eee;
border-left-width: 0px;
border-radius: 10px;
border-left-color: #ce4844;
  background-color: #DCE4EA;
  font-size: 110%;
}
